# Simset

## Setup

You successfully initialized the folder: {{ path }}

Next step is to include your own simulation and post-processing code
into the file

{{ main_file }}

### Get Help

List available commands by

```bash
python {{ main_file }} -h
```

## Tutorial 
...